.login{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .buttons{
    width: 100%;
    background-color: var(--second-color)!important;
    border: 1px solid var(--second-color) !important;
    color: #fff;
  }