nav{
    background-color: #fff;
    width: 100%;
    height: auto;
    border-radius: 0px !important;
}
nav  .navbar-nav {
    margin-top: 12px;
    
}

nav  .navbar-nav a{
    color: var(--main-color);
    font-weight: 600;
    letter-spacing: 1px;
    margin-right: 10px;
    font-size: 17px;
    transition: .3s ease all;
}
nav .navbar-nav a:hover, 
nav  .navbar-nav a:focus{
    color: var(--second-color) !important;
}
nav .active{
    color: var(--second-color) !important;
}
nav .navbar-nav svg.phone{
    margin-right: 8px;
}
nav  .navbar-nav button{
    background-color: var(--main-color);
    border: 1px solid var(--main-color) ;
    width: 150px;
    height: 50px;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    margin-top: -10px;
    border-radius:4px ;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s ease-in-out;
}
nav  .navbar-nav button span{
    background-color: #fff;
    color: var(--main-color);
    width: 30px;
    border-radius: 4px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin-left: 15px;
}
nav  .navbar-nav button:hover{
    background-color: #8BE8FE;
    border: 1px solid #8BE8FE;
}
.navbar-nav .dropdown-menu{
    position: static;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 0px;
    width: 200px;
}
.navbar-nav .dropdown-menu li{
    width: 100%;
    height: 30px !important;
    position: relative;
}
.navbar-nav .dropdown-menu a {
    color: #444;
    font-size: 14px;
    line-height: 30px !important;
    position: relative;
}
.navbar-nav .dropdown-menu a:hover{
    color: var(--main-color) !important;
}
/*[type=button]:not(:disabled), [type=reset]:not(:disabled), button:not(:disabled){
    cursor: pointer;
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 0px;
}*/


/*@media only screen and(max-width : 992px) {
    nav .navbar-nav .dropdown-menu{
        width: 100% ;
    }
    nav .navbar-nav button{
        margin-top: 0px;
        width: 100%;
    }
}*/


nav #basic-nav .dropdown:hover .dropdown-menu{
    opacity: 1;
}

