.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 300px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidebar-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .sidebar-logo img {
    height: 40px;
  }
  
  .sidebar .nav-link {
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 0;
    color: white;
  }
  
  .sidebar .nav-link:hover {
    background: linear-gradient(135deg, #71b7e6, #9b59b6);;
  }
  
  .sidebar .active {
    background: linear-gradient(135deg, #71b7e6, #9b59b6);;
  }
  
  #bodyph{
    background:  #fff;
    height: 100vh;
    display: flex;
  }
  .contentS {
    margin-left: 300px;
    padding: 20px;
    margin-top: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
    
  }
  .noactivehome {
    color: #fff;
    text-decoration: underline;
}